<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <div class="container-xl px-4 mt-4">
      <!-- Account page navigation-->
      <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="#">Create User</a>
        <!-- <a
                    class="nav-link"
                    href="https://www.bootdey.com/snippets/view/bs5-profile-billing-page"
                    target="__blank"
                    >Billing</a
                > -->
      </nav>
      <hr class="mt-0 mb-4" />
      <div class="row">
        <div class="col-xl-4">
          <!-- Profile picture card-->
          <div class="card mb-4 mb-xl-0">
            <div class="card-header">Profile Picture</div>
            <div class="card-body text-center">
              <!-- Profile picture image-->
              <img
                class="img-account-profile rounded-circle mb-2"
                src="http://bootdey.com/img/Content/avatar/avatar1.png"
                alt=""
              />
              <!-- Profile picture help block-->
              <div class="small font-italic text-muted mb-4">
                JPG or PNG no larger than 5 MB
              </div>
              <!-- Profile picture upload button-->
              <button class="btn btn-primary text-muted" type="button">
                Upload new image
              </button>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <!-- Account details card-->
          <div class="card mb-4">
            <div class="card-header">Account Details</div>
            <div class="card-body">
              <form>
                <!-- Form Group (username)-->
                <div class="mb-3">
                  <label class="small mb-1" for="inputUsername"
                    >Username (how profile name will appear to other users on
                    the site)</label
                  >
                  <input
                    class="form-control"
                    id="inputUsername"
                    type="text"
                    placeholder="Enter your username"
                    name="username"
                    value=""
                  />
                </div>
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                  <!-- Form Group (first name)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputFirstName"
                      >First name</label
                    >
                    <input
                      class="form-control"
                      id="inputFirstName"
                      type="text"
                      placeholder="Enter your first name"
                      name="firstName"
                      value=""
                    />
                  </div>
                  <!-- Form Group (last name)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputLastName"
                      >Last name</label
                    >
                    <input
                      class="form-control"
                      id="inputLastName"
                      type="text"
                      placeholder="Enter your last name"
                      name="lastName"
                      value=""
                    />
                  </div>
                </div>
                <!-- Form Row        -->
                <div class="row gx-3 mb-3">
                  <!-- Form Group (birthday)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputBirthday"
                      >Birthday</label
                    >
                    <input
                      class="form-control"
                      id="inputBirthday"
                      type="text"
                      name="birthday"
                      placeholder="yyyy-mm-dd"
                      value=""
                    />
                  </div>
                  <!-- Form Group (location)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputLocation"
                      >Place of Birth</label
                    >
                    <input
                      class="form-control"
                      id="inputLocation"
                      type="text"
                      placeholder="San Francisco, CA"
                      name="location"
                      value=""
                    />
                  </div>
                </div>

                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                  <!-- Form Group (email)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputEmail"
                      >Email Address</label
                    >
                    <input
                      class="form-control"
                      id="inputEmail"
                      type="email"
                      placeholder="name@example.com"
                      value=""
                    />
                  </div>
                  <!-- Form Group (gender)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputGender">Gender</label>
                    <input
                      class="form-control"
                      id="inputGender"
                      type="text"
                      name="gender"
                      placeholder="Male/Female"
                      value=""
                    />
                  </div>
                </div>
                <!-- Form Group (phone)-->
                <div class="mb-3">
                  <label class="small mb-1" for="inputPhone"
                    >Phone Number</label
                  >
                  <input
                    class="form-control"
                    id="inputPhone"
                    type="text"
                    placeholder="085xxxxxxxxx"
                    name="phone"
                    value=""
                  />
                </div>
                <!-- Form Group (password)-->
                <div class="mb-3">
                  <label class="small mb-1" for="inputPassword">Password</label>
                  <input
                    class="form-control"
                    id="inputPassword"
                    type="password"
                    placeholder="Enter your password"
                    name="password"
                    value=""
                  />
                </div>

                <!-- Create button-->
                <button
                  class="btn btn-primary"
                  type="button"
                  onclick="createUser()"
                >
                  Create User
                </button>
                <button class="btn btn-danger" type="button">
                  <a href="/dashboard">Cancel</a>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/script') %>
  </body>
</html>
