<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
              class="img-fluid"
              alt="Sample image"
            />
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div
              class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
            >
              <h1>You Are Registered</h1>
            </div>

            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">New User</p>
            </div>

            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">User Id</th>
                  <td><%= id %></td>
                </tr>
                <tr>
                  <th scope="row">Name</th>
                  <td><%= name %></td>
                </tr>
                <tr>
                  <th scope="row">Username</th>
                  <td><%= username %></td>
                </tr>
                <tr>
                  <th scope="row">Email</th>
                  <td><%= email %></td>
                </tr>
                <tr>
                  <th scope="row">Password</th>
                  <td><%= password %></td>
                </tr>
              </tbody>
            </table>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Click here to
              <a href="/login" class="link-primary">Login</a>
            </p>
          </div>
        </div>
      </div>
      <%- include('partials/footer') %>
    </section>
    <%- include('partials/script') %>
  </body>
</html>
