<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
              class="img-fluid"
              alt="Sample image"
            />
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <!-- * using POST method, delete onclick function on button -->
            <form action="/register" method="post">
              <div
                class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
              >
                <!-- TODO: Font awesome didnt work -->
                <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                <button type="button" class="btn btn-primary btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-primary btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-primary btn-floating mx-1">
                  <i class="fab fa-linkedin-in"></i>
                </button>
              </div>

              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0">Or</p>
              </div>

              <!-- Name input -->
              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="registerName"
                  name="name"
                  class="form-control"
                />
                <label class="form-label" for="registerName">Name</label>
              </div>

              <!-- Username input -->
              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="registerUsername"
                  name="username"
                  class="form-control"
                />
                <label class="form-label" for="registerUsername"
                  >Username</label
                >
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input
                  type="email"
                  id="registerEmail"
                  name="email"
                  class="form-control"
                />
                <label class="form-label" for="registerEmail">Email</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="registerPassword"
                  name="password"
                  class="form-control"
                />
                <label class="form-label" for="registerPassword"
                  >Password</label
                >
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  value=""
                  id="registerCheck"
                  checked
                  aria-describedby="registerCheckHelpText"
                />
                <label class="form-check-label" for="registerCheck">
                  I have read and agree to the terms
                </label>
              </div>

              <!-- Submit button -->
              <button
                type="submit"
                class="btn btn-primary btn-block mb-3"
                onclick="register()"
              >
                Sign in
              </button>
            </form>
          </div>
        </div>
      </div>
      <%- include('partials/footer') %>
    </section>
    <%- include('partials/script') %>
  </body>
</html>
